<% order = Order.find_by(id: i.order_id) %>
<% product = Product.find_by(id: i.product_id) %>
<% p "printing #{product.name}" %>
<tr>
  <td>
    <%= image_tag product.image.tiny %>
  </td>
  <td>
    <h4><%= product.name %></h4>
  <br>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= i.quantity %>  </td>
  <td>
  <%= humanized_money_with_symbol product.price * i.quantity %>
  </td>
</tr>